@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --plaintext: #E8EDDF;
    --background: #000000;
    --primary: #B28D15;
    --secondary: rgb(207, 219, 213);
}

html,body {
    background-color: var(--background);
    font-family: 'Poppins';
    color: var(--plaintext);
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

#navbar {
    background-color: var(--primary);
    width: 100%;
}

#navbar .nav-link {
    display: inline-block;
    padding: 20px;
}

#navbar .nav-link a{
    color: var(--secondary);
    vertical-align: middle;
    text-decoration: none;
}


#navbar .nav-link:hover {
    background-color: var(--background); 

}

.landing {
    font-size: 1.5rem;
    color: var(--plaintext);
    position: relative;
    z-index: 0;
    width: 100%;
    min-height: 100%;
    top: 5%;
    height: 100%;
    left: 2%;
    right: 2%;
}

.landing h1, h3{
    text-align: center;
    padding: 10px;
}

.landing-wrapper {
    display: block;
}


#myProgress {
    display: inline-block;
    width: 40%;
    margin-left: 30%;
    background-color: var(--secondary);
  }
  
  #myBar {
    display: inline-block;
    height: 30px;
    background-color: var(--primary);
  }

.landing .collections {
    display: block;
    height: 100%;
    width: 100%;
}

.landing .collections *{
    vertical-align: middle;
}

.landing .collections span {
    color: var(--primary);
}

.landing .collections h1{
    text-align: center;
    margin: 0;
}

.landing .collections h5 {
    text-align: center;
    margin: 0;
}

.landing .photo {
    text-align: center;
    margin: 5% auto;
}

.landing .photo img {
    width: 400px;
    height: 400px;
}

.about {
    color: var(--plaintext);
    margin-top: 5%;
    text-align: left;
    height: 100%;
    padding: 5%;
}

.about h1{
    color: var(--primary);
}

.about h3 {
    text-align: left;
}

.button {
    background-color: var(--primary);
    color: var(--plaintext);
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.footer {
    background-color: var(--primary);
    padding: 10px;
    color: var(--secondary);
}

.about p {
    text-align: left;
}

.footer .links {
    padding: 25px;
    right: 0;
    margin-left: auto;
    float: right;
}

.footer .links img{
    padding: 5px;
}

.footer .footer-text {
    display: inline-block;
    vertical-align: middle;
}


.container h3{
    font-size: 1em;
}

.card-wrapper{
    border: var(--secondary) 1px solid;
    text-align: center;
    padding: 2%;
    margin: 5% 10%;
    
}

.card-heading {
    text-align: center;
}

.card-wrapper .card-title h3, p {
    text-align: center;
    margin: 0;
    vertical-align: middle;
}


.card-wrapper .picture {
    display: block;
    margin: 0;
}

.card-wrapper .picture img {
    width: 400px;
    height: 400px;
}

.inner-card {
    border: 0.5px solid;
    display: inline-block;
    padding: 2%;
    margin: 2%;
}

.inner-card h5 {
    font-weight: 600;;
    margin: 5%;
}

.inner-card h6 {
    font-weight: 500;
    margin: 5%;
}

.inner-card img {
    height: 250px;
    width: 250px;
    filter: grayscale();
}


@media only screen and (max-width: 600px) {
    html, body {
        font-size: 1rem;
        overflow-x: hidden;
    }

    #navbar {
        background-color: var(--primary);
        font-size: 0.62rem;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    #navbar .nav-link {
        padding: 10px;
        text-align: center;
    }
    
    #navbar .nav-link a {
        top: 0;
        color: var(--secondary);
        text-decoration: none;
        margin: 0px;
    }

    .landing{
        font-size: 1.25rem;
        left: 0;
    }

    .landing-wrapper{
        display: block;
        padding: 20px;
    }
    
    .landing h1, h3{
        text-align: center;
        margin: 0;
    }
    
    .landing .collections .collection-amount{
        margin: 0
    }

    .landing .collections {
        height: 100%;
        width: 100%;
        text-align: center;
    }
    
    .landing .collections * {
        vertical-align: middle;
    }
    
    .landing .collections h1, h5 {
        margin-left: 0%;
        text-align: center;
    }

    .landing .photo{
        margin: 5% auto;
        text-align: center;
    }

    .landing .photo img {
        width: 200px;
        height: 200px;
    }

    .footer .links img {
        height: 20px;
        width: 20px;
    }

    .footer .links {
        padding: 25px;
        right: 0;
        margin-left: auto;
    }
    
    .footer .footer-text {
        vertical-align: middle;
        padding: 25px;
    }

    .card-wrapper .card-title h3, p {
        text-align: center;
        margin: 0;
        vertical-align: middle;
    }
    
    .card-wrapper {
        margin: 2% 5%;
    }

    #myProgress {
        display: inline-block;
        width: 40%;
        text-align: left;
        margin-left: 0%;
        background-color: var(--secondary);
      }
      
    #myBar {
        height: 30px;
        background-color: var(--primary);
      }

    .inner-card {
        border: 0.5px solid;
        display: inline-block;
        padding: 2%;
        margin: 1%;
    }
    
    .inner-card img {
        height: 200px;
        width: 200px;
    }

    .card-wrapper .picture img{
        height: 200px;
        width: 200px;
    }
}
